In [1]:
# Packages imports
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.stats.api as sms
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('dataframe.csv')

In [3]:
df.head()

   user_id  num_compras  Churn_Rate
0        2           10      0.3846
1       52           22      0.4615
2       59           36      0.8462
3       85           60      0.8462
4       91           27      0.3846

In [4]:
df.shape

(8398, 3)

In [5]:
df['num_compras'].describe()

count    8398.000000
mean       17.160872
std        14.156863
min         5.000000
25%         8.000000
50%        13.000000
75%        21.000000
max       143.000000
Name: num_compras, dtype: float64

In [6]:
np.percentile(df['Churn_Rate'], np.arange(0, 100, 10))

array([0.3077, 0.3077, 0.3077, 0.3846, 0.3846, 0.4615, 0.5385, 0.6154,
       0.6923, 0.7692])

In [7]:
df['Num_Com_Bin'] = np.where((df['num_compras']<=8),'Compras_25%',
                             np.where((df['num_compras']>8)&(df['num_compras']<=13),'Compras_50%',
                             np.where((df['num_compras']>13)&(df['num_compras']<=21),'Compras_75%',
                             np.where((df['num_compras']>21),'Compras_100%',''))))

In [8]:
df['Rate_Churn_Bin'] = np.where((df['Churn_Rate']<0.3846),'Churn_3Decil',
                               np.where((df['Churn_Rate']>=0.3846)&(df['Churn_Rate']<0.4615),'Churn_4Decil',
                               np.where((df['Churn_Rate']>=0.4615)&(df['Churn_Rate']<0.5385),'Churn_5Decil',
                               np.where((df['Churn_Rate']>=0.5385)&(df['Churn_Rate']<0.6154),'Churn_6Decil',
                               np.where((df['Churn_Rate']>=0.6154)&(df['Churn_Rate']<0.6923),'Churn_7Decil',
                               np.where((df['Churn_Rate']>=0.6923)&(df['Churn_Rate']<0.7692),'Churn_8Decil',
                               np.where((df['Churn_Rate']>=0.7692),'Churn_9Decil','')))))))

In [9]:
df['Num_Com_Bin'].unique()

array(['Compras_50%', 'Compras_100%', 'Compras_75%', 'Compras_25%'],
      dtype=object)

In [10]:
df['Rate_Churn_Bin'].unique()

array(['Churn_4Decil', 'Churn_5Decil', 'Churn_9Decil', 'Churn_7Decil',
       'Churn_8Decil', 'Churn_3Decil', 'Churn_6Decil'], dtype=object)

In [11]:
df['target'] = df['Num_Com_Bin']+df['Rate_Churn_Bin']

In [12]:
df.head()

,user_id,num_compras,Churn_Rate,Num_Com_Bin,Rate_Churn_Bin,target
0,2,10,0.3846,Compras_50%,Churn_4Decil,Compras_50%Churn_4Decil
1,52,22,0.4615,Compras_100%,Churn_5Decil,Compras_100%Churn_5Decil
2,59,36,0.8462,Compras_100%,Churn_9Decil,Compras_100%Churn_9Decil
3,85,60,0.8462,Compras_100%,Churn_9Decil,Compras_100%Churn_9Decil
4,91,27,0.3846,Compras_100%,Churn_4Decil,Compras_100%Churn_4Decil

In [13]:
df['target'].value_counts()

Compras_25%Churn_3Decil     1425
Compras_100%Churn_9Decil    1019
Compras_25%Churn_4Decil      730
Compras_50%Churn_4Decil      565
Compras_50%Churn_5Decil      471
Compras_50%Churn_3Decil      412
Compras_75%Churn_7Decil      396
Compras_75%Churn_6Decil      369
Compras_50%Churn_6Decil      360
Compras_100%Churn_8Decil     359
Compras_75%Churn_5Decil      334
Compras_100%Churn_7Decil     265
Compras_75%Churn_8Decil      262
Compras_75%Churn_4Decil      251
Compras_25%Churn_5Decil      239
Compras_100%Churn_6Decil     177
Compras_50%Churn_7Decil      146
Compras_75%Churn_3Decil      145
Compras_75%Churn_9Decil      135
Compras_100%Churn_5Decil     113
Compras_100%Churn_4Decil      76
Compras_25%Churn_6Decil       58
Compras_50%Churn_8Decil       44
Compras_100%Churn_3Decil      36
Compras_50%Churn_9Decil        6
Compras_25%Churn_7Decil        5
Name: target, dtype: int64

In [14]:
y_1 = df['target']

In [15]:
X_1 = df.copy(deep=True)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, stratify=y_1, test_size=0.11907)

In [18]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_1, y_train_1, stratify=y_train_1, test_size=0.135171)

In [19]:
X_test_1.shape

(1000, 6)

In [20]:
X_test_2.shape

(1000, 6)

In [21]:
X_test_1.target.value_counts()

Compras_25%Churn_3Decil     170
Compras_100%Churn_9Decil    121
Compras_25%Churn_4Decil      87
Compras_50%Churn_4Decil      67
Compras_50%Churn_5Decil      56
Compras_50%Churn_3Decil      49
Compras_75%Churn_7Decil      47
Compras_75%Churn_6Decil      44
Compras_100%Churn_8Decil     43
Compras_50%Churn_6Decil      43
Compras_75%Churn_5Decil      40
Compras_100%Churn_7Decil     32
Compras_75%Churn_8Decil      31
Compras_75%Churn_4Decil      30
Compras_25%Churn_5Decil      29
Compras_100%Churn_6Decil     21
Compras_75%Churn_3Decil      17
Compras_50%Churn_7Decil      17
Compras_75%Churn_9Decil      16
Compras_100%Churn_5Decil     13
Compras_100%Churn_4Decil      9
Compras_25%Churn_6Decil       7
Compras_50%Churn_8Decil       5
Compras_100%Churn_3Decil      4
Compras_50%Churn_9Decil       1
Compras_25%Churn_7Decil       1
Name: target, dtype: int64

In [22]:
X_test_2.target.value_counts()

Compras_25%Churn_3Decil     170
Compras_100%Churn_9Decil    121
Compras_25%Churn_4Decil      87
Compras_50%Churn_4Decil      67
Compras_50%Churn_5Decil      56
Compras_50%Churn_3Decil      49
Compras_75%Churn_7Decil      47
Compras_75%Churn_6Decil      44
Compras_100%Churn_8Decil     43
Compras_50%Churn_6Decil      43
Compras_75%Churn_5Decil      40
Compras_100%Churn_7Decil     32
Compras_75%Churn_8Decil      31
Compras_75%Churn_4Decil      30
Compras_25%Churn_5Decil      28
Compras_100%Churn_6Decil     21
Compras_75%Churn_3Decil      17
Compras_50%Churn_7Decil      17
Compras_75%Churn_9Decil      16
Compras_100%Churn_5Decil     14
Compras_100%Churn_4Decil      9
Compras_25%Churn_6Decil       7
Compras_50%Churn_8Decil       5
Compras_100%Churn_3Decil      4
Compras_50%Churn_9Decil       1
Compras_25%Churn_7Decil       1
Name: target, dtype: int64

In [23]:
X_test_1.head()

,user_id,num_compras,Churn_Rate,Num_Com_Bin,Rate_Churn_Bin,target
4356,160687,10,0.3846,Compras_50%,Churn_4Decil,Compras_50%Churn_4Decil
117,1938,14,0.6154,Compras_75%,Churn_7Decil,Compras_75%Churn_7Decil
1366,68362,17,0.5385,Compras_75%,Churn_6Decil,Compras_75%Churn_6Decil
5608,204619,5,0.3077,Compras_25%,Churn_3Decil,Compras_25%Churn_3Decil
7727,312387,11,0.3846,Compras_50%,Churn_4Decil,Compras_50%Churn_4Decil

In [24]:
X_test_1.to_excel('./data/grupo_piloto.xlsx')

In [25]:
X_test_2.to_excel('./data/grupo_control.xlsx')